body{width: 100%;margin-left: 0%;font-family: 'Roboto Condensed', sans-serif;margin: 0%;}
html{scroll-behavior:smooth ;}


.contenedor{display: flex;}
.izquierda{width: 70%;;flex-flow: wrap;}
.header{margin: 0;background-image: url(img/portada/4.png);background-size: 125%;height: 660px;background-position:bottom;}
.header h1{padding: 42% 0% 0 0;font-size: 4em;text-align: center;margin-top: 0%;}
.header h3{text-align: center;font-size: 1.5em;margin-top: 0%;}
nav{display: none;}

.derecha{width: 30%;text-align: center;position: fixed;margin-left: 70%;}
.portada{width: 98%;display: flex;padding: 1%;color: white;background-color: black;}
.primero{width: 30%;flex-flow: wrap;}
.primero img{width: 50%;margin-top: 20%;}
.segundo{width: 50%;}
.segundo h4{font-size: 1.5em;}
.terecero{width: 20%;}

.uno{width: 90%;padding: 5%;color: black;background-color: #f3f3f5;}
.uno a{text-decoration: none;color: black;}
.uno a:hover{cursor: pointer;color: #ED8E20;}
.dos{width: 90%;padding: 5%;color: black;background-color: #e7e8ea;}
.dos a{text-decoration: none;color: black;}
.dos a:hover{cursor: pointer;color: #ED8E20}
.tres{width: 90%;padding: 5%;color: black;background-color: #d1d2d4;}
.tres a{text-decoration: none;color: black;}
.tres a:hover{cursor: pointer;color: #ED8E20;}
.cuatro{width: 90%;padding: 5%;color: black;background-color: #bdbec0;}
.cuatro a{text-decoration: none;color: black;}
.cuatro a:hover{cursor: pointer;color: #ED8E20;}
.cinco{width: 90%;padding: 5%;color: black;background-color: #a8a9ad;}
.cinco a{text-decoration: none;color: black;}
.cinco a:hover{cursor: pointer;color: #ED8E20;}
.seis{width: 90%;padding: 5%;color: black;background-color: #949599}
.seis a{text-decoration: none;color: black;}
.seis a:hover{cursor: pointer;color: #ED8E20;}
.siete{width: 90%;padding: 5%;color: black;background-color: #818286;}
.siete a{text-decoration: none;color: black;}
.siete a:hover{cursor: pointer;color: #ED8E20;}
.ocho{width: 90%;padding: 5%;color: black;background-color: #6d6e72;}
.ocho a{text-decoration: none;color: black;}
.ocho a:hover{cursor: pointer;color: #ED8E20;}

.redes{width: 100%;display: flex;background-color: #000000;}
.iconos{flex-flow: wrap;}
.iconos img{width: 8%;padding: 7.4% 4%;}

.section{width: 100%;font-family: 'Roboto Condensed', sans-serif;}

.sobremi{max-width: 90%;}
.sobremi h2{padding: 3% 0 0 5%;font-size: 3em;margin-bottom: 0;}
 hr{width: 90%;}
.sobremi img{width: 12%;padding: 0 0 5% 5%;}
.sobremi p{width: 90%;padding: 1% 0 0 5%;font-size: 1.2rem;}
.sobremi h4{padding: 0 0 0 5%;font-size: 1rem;}
.sobremi a{text-decoration: none;color: black;}
.sobremi h6{color:white;margin-bottom: 3%;}

.habilidades{width: 100%;background-color: #D9D9D9;padding: 0 0 0 5%;height:660px ;}
.habilidades h2{padding: 3% 0 0 0;font-size: 3em;margin-bottom: 0;}
.habilidades p{font-size: 1.3rem;margin-top: 4%;}

label {margin-top: 2%;margin-bottom: 3%;font-size: 1.1rem;}
progress{height: 50px;margin-left: 1%;}

.experiencia{max-width: 90%;padding: 0 0 0 5%;}
.experiencia h2{padding: 3% 0 0 0;font-size: 3em;margin-bottom: 0;}
.clubs{width: 100%;display: flex;}
.clubs img{flex-flow: wrap;}
.caja{width: 25%;text-align: center;}
.cav{width: 60%;margin-bottom: 10%;margin-top: 11%;}
.mh{width: 65%;margin-top: -2%;}
.la{width: 60%;margin-bottom: 5%;margin-top: 10%;}


.fechas{width: 100%;margin-bottom: 5%;}
.filauno{width: 100%;display: flex;}
.filados{width: 100%;display: flex;}
.filatres{width: 100%;}
.blancot{width: 22.9%;flex-flow: wrap;text-align: center;padding: 1%;border-width:1px;border-style:solid;border-color:#949599;}
.blanco{width: 25%;flex-flow: wrap;text-align: center;padding: 1%;border-width:1px;border-style:solid;border-color:#949599;}
.gris{width: 25%;flex-flow: wrap;text-align: center;background-color: #d1d2d4 ;padding: 1%;border-width:1px;border-style:solid;border-color:#949599;}
.peliculas{width: 100%;display: flex;}
.ladod{width: 50%;flex-flow: wrap;}
.lador{width: 50%;}
.white{width: 100%;flex-flow: wrap;text-align: center;border-width:1px;border-style:solid;border-color:#949599;}
.grey{width: 100%;flex-flow: wrap;text-align: center;background-color: #d1d2d4 ;border-width:1px;border-style:solid;border-color:#949599;}



.educacion{width: 100%;background-color: #D9D9D9;padding: 0 0 0 5%;height:660px ;}
.educacion h2{padding: 3% 0 0 0;font-size: 3em;margin-bottom: 0;}
.educacion h3{font-size: 1.3rem;margin-top: 4%;}
.educacion h4{}
.educacion a{}
.educacion p{}

.trofeos{max-width: 90%;padding: 0 0 0 5%;}
.trofeos h2{padding: 3% 0 0 0;font-size: 3em;margin-bottom: 0;}
.titulos{display: flex;}
.left{width: 50%;flex-flow: wrap;}
.rigth{width:50%;}
.medallas{display: flex;}
.lef{width: 33.3%;flex-flow: wrap;}
.cent{width: 33.3%;}
.rig{width: 33.3%;}

.portafolio{width: 100%;background-color: #D9D9D9;padding: 0 0 0 5%;}
.portafolio h2{padding: 3% 0 0 0;font-size: 3em;margin-bottom: 0;}
.portafolio h6{color:#D9D9D9;padding: 3%;}

.contacto{max-width: 90%;padding: 0 0 0 5%;}
.contacto h2{padding: 3% 0 0 0;font-size: 3em;margin-bottom: 0;}
.datos{width: 100%;display: flex;}
.boton{flex-flow: wrap;display: flex;}
.boton img{width: 10%;margin-right: 5%;height: 60%;margin-top: 4%;}
.boton a{text-decoration: none;color: black;}
.boton a:hover{cursor: pointer;color: #ED8E20;}

form{margin-top: 50%;}
#forminscription{width: 50%;padding: 15px;border: solid #000000 2px; border-radius: 10px;font-size: 1.2em;color: #000000; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; background-color: #d1d2d4;margin: auto;}
#forminscription span{margin: 3%;}
#forminscription input{width: 100%;padding: 15px;box-sizing: border-box;border-radius: 15px;border: none;}
#forminscription  div{margin-bottom: 20px;}
#forminscription  select{width: 100%;padding: 15px;box-sizing: border-box;border-radius: 15px;}
#forminscription  textarea{width: 100%;padding: 15px;box-sizing: border-box;border-radius: 15px;}


.footer{width: 100%;background-color: black;color: white;text-align: center;margin-bottom: -5%;}
.footer h3{padding: 3%;}

.icono{display:none;color: black;position:none;}


/* dispositivo mediano */
@media(min-width: 580px) and (max-width: 989px){

    .derecha{display:none;width: 0%;}
    .izquierda{width: 100%;}
    
    nav{display: block;}
    .icono { display: block; font-size: 25px !important;; margin-right: 5px; right: 20px; position: absolute;}
    .responsive { display: block; position: absolute; top: 77px !important; width: 100%; margin-left: 177px;}

    
    .sobremi{text-align: center;max-width: 100%;padding: 0%;}
    .sobremi h2{padding: 0%;font-size: 3em;margin-bottom: 0;width: 100%;}
    .sobremi img{width: 15%;padding: 0 0 5% 5%;}
    .sobremi p{width: 90%;padding: 1% 0 0 5%;font-size: 1.1rem;}
    .sobremi h4{padding: 0 0 0 5%;font-size: 1.1rem;}

    .habilidades{text-align: center;max-width: 100%;padding: 0%;background-color: #D9D9D9;height: auto;}
    .habilidades h2{padding: 5% 0 0 0;font-size: 3em;margin-bottom: 0;width: 100%;}
    .habilidades p{font-size: 1.25rem;margin-top: 4%;}

    label {margin-top: 2%;margin-bottom: 3%;font-size: 1.1rem;}
    progress{height: 50px;margin-left: 1%;}

    .experiencia{max-width: 100%;padding: 0%;text-align: center;}
    .clubs{width: 100%;display: flex;}
    .clubs img{flex-flow: wrap;}
    .caja{width: 50%;text-align: center;}
    .cav{width: 60%;margin-bottom: 10%;margin-top: 11%;}
    .mh{width: 65%;margin-top: -2%;}
    .la{width: 60%;margin-bottom: 5%;margin-top: 10%;}


    .fechas{width: 100%;margin-bottom: 5%;}
    .filauno{width: 100%;display: flex;}
    .filados{width: 100%;display: flex;}
    .filatres{width: 100%;}
    .blancot{width: 22.9%;flex-flow: wrap;text-align: center;padding: 1%;border-width:1px;border-style:solid;border-color:#949599;}
    .blanco{width: 25%;flex-flow: wrap;text-align: center;padding: 1%;border-width:1px;border-style:solid;border-color:#949599;}
    .gris{width: 25%;flex-flow: wrap;text-align: center;background-color: #d1d2d4 ;padding: 1%;border-width:1px;border-style:solid;border-color:#949599;}
    .peliculas{width: 100%;display: flex;}
    .ladod{width: 50%;flex-flow: wrap;}
    .lador{width: 50%;}
    .white{width: 100%;flex-flow: wrap;text-align: center;border-width:1px;border-style:solid;border-color:#949599;}
    .grey{width: 100%;flex-flow: wrap;text-align: center;background-color: #d1d2d4 ;border-width:1px;border-style:solid;border-color:#949599;}

    .educacion{width: 100%;background-color: #D9D9D9;padding: 0 0 0 5%;height:660px ;text-align: center;}
    .educacion h2{padding: 3% 0 0 0;font-size: 3em;margin-bottom: 0;}


    .trofeos{max-width: 90%;padding: 0 0 0 5%;}
    .trofeos h2{padding: 3% 0 0 0;font-size: 3em;margin-bottom: 0;text-align: center;}
    .titulos{display: flex;font-size: 1.25em;}
    .medallas{display: flex;font-size: 1.25em;}
 

    .portafolio{text-align: center;}

    
    .contacto{max-width: 90%;padding: 0 0 0 5%;text-align: center;}
    .contacto h2{padding: 3% 0 0 0;font-size: 3em;margin-bottom: 0;}
    .datos{width: 100%;display: flex;text-align: center;}
    .boton{flex-flow: wrap;display: flex;}
    .boton img{width: 10%;margin-right: 5%;height: 60%;margin-top: 4%;}
    .boton a{text-decoration: none;color: black;}
    .boton a:hover{cursor: pointer;color: #ED8E20;}
    
    form{margin-top: 50%;}
    #forminscription{width: 50%;padding: 15px;border: solid #000000 2px; border-radius: 10px;font-size: 1.2em;color: #000000; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; background-color: #d1d2d4;margin: auto;}
    #forminscription span{margin: 3%;}
    #forminscription input{width: 100%;padding: 15px;box-sizing: border-box;border-radius: 15px;border: none;}
    #forminscription  div{margin-bottom: 20px;}
    #forminscription  select{width: 100%;padding: 15px;box-sizing: border-box;border-radius: 15px;}
    #forminscription  textarea{width: 100%;padding: 15px;box-sizing: border-box;border-radius: 15px;}
    
    
    .footer{width: 100%;background-color: black;color: white;text-align: center;margin-bottom: -5%;}
    .footer h3{padding: 3%;}



}




/* dispositivo pequeño */
@media(max-width: 579px){

  
}